
#slides .video-wrapper {
	overflow: visible;
	position: initial;
}

#slides .video-wrapper img {
	width:auto !important;
	height: auto !important;
	position: inherit !important;
}
.main_caption {
	width:auto !important;
        max-width:800px;
	height: auto !important;
	position: absolute !important;/
	float:right;
	padding: 50px;
	margin:0% 5% 5% 0;
	background: rgba(0,0,0,0.5);
	font-size: 22px;
        line-height: 25px;
	color: #fff;
	text-align: right;
	right:0;
	top:250px;
}

.main_caption h2{
	font-size: 22px;
	color:#fff;
        margin-top:0px !important;
}

.vid_replace img {
   max-width:100%;
   max-height:100%;
   padding-top: 65px;
}

@media screen and (min-width: 310px) {

.main_caption {
        display:none;
	width:auto !important;
        max-width:800px;
	height: auto !important;
	position: absolute !important;/
	float:right;
	padding: 15px;
	margin:0% 5% 5% 0;
	background: rgba(0,0,0,0.5);
	font-size: 10px;
        line-height: 12px;
	color: #fff;
	text-align: right;
	right:0;
	top:150px;
}
.main_caption h2{
	font-size: 11px;
	color:#fff;
        margin-top:0px !important;
}

#homepage-slider {
  min-height:20% !important;
  
   }
#cmn-video-demo4__video {
  display:none;
  position: inherit;
  top: 0;
  left: 0;
  z-index: 100;
  min-width: 100%; min-height: 100%;
  background: url(http://www.mobilefringe.com/wp-content/uploads/2014/11/vidback_computers.png) no-repeat;
  padding-top:0px;
  width: auto;
  height: auto;
}
.vid_replace {
   position: inherit;
  top: 0;
  left: 0;
  z-index: 100;
  min-width: 100%; min-height: 100%;
  background: url(http://www.mobilefringe.com/wp-content/uploads/2014/11/vidback_computers.png) no-repeat;
  padding-top:0px;
  width: auto;
  height: auto;
}
}
@media screen and (min-width: 480px) {

.main_caption {
        display:none;
	width:auto !important;
        max-width:800px;
	height: auto !important;
	position: absolute !important;/
	float:right;
	padding: 15px;
	margin:0% 5% 5% 0;
	background: rgba(0,0,0,0.5);
	font-size: 14px;
        line-height: 15px;
	color: #fff;
	text-align: right;
	right:0;
	top:250px;
}
.main_caption h2{
	font-size: 16px;
	color:#fff;
        margin-top:0px !important;
}

#homepage-slider {
   min-height:30% !important;
   }
#cmn-video-demo4__video {
  display:none;
  position: inherit;
  top: 0;
  left: 0;
  z-index: -100;
  min-width: 100%; min-height: 100%;
  padding-top:62px;
  width: auto;
  height: auto;
}
.vid_replace {
   position: inherit;
  top: 0;
  left: 0;
  z-index: 100;
  min-width: 100%; min-height: 100%;
  background: url(http://www.mobilefringe.com/wp-content/uploads/2014/11/vidback_computers.png) no-repeat;
  padding-top:0px;
  width: auto;
  height: auto;
}
}
@media screen and (min-width: 575px) {
.main_caption {
        display:none;
	width:auto !important;
        max-width:800px;
	height: auto !important;
	position: absolute !important;/
	float:right;
	padding: 15px;
	margin:0% 5% 5% 0;
	background: rgba(0,0,0,0.5);
	font-size: 16px;
        line-height: 19px;
	color: #fff;
	text-align: right;
	right:0;
	top:420px;
}
.main_caption h2{
	font-size: 20px;
	color:#fff;
        margin-top:0px !important;
}
#homepage-slider {
   min-height:40% !important;
   }
#cmn-video-demo4__video {
display:none;
  position: inherit;
  top: 0;
  left: 0;
  z-index: -100;
  min-width: 100%; min-height: 100%;
  padding-top:62px;
  width: auto;
  height: auto;
}
.vid_replace {
   position: inherit;
  top: 0;
  left: 0;
  z-index: 100;
  min-width: 100%; min-height: 100%;
  background: url(http://www.mobilefringe.com/wp-content/uploads/2014/11/vidback_computers.png) no-repeat;
  padding-top:0px;
  width: auto;
  height: auto;
}
}
@media screen and (min-width: 875px) {

.main_caption {
        display:none;
	width:auto !important;
        max-width:800px;
	height: auto !important;
	position: absolute !important;/
	float:right;
	padding: 50px;
	margin:0% 5% 5% 0;
	background: rgba(0,0,0,0.5);
	font-size: 22px;
        line-height: 25px;
	color: #fff;
	text-align: right;
	right:0;
	top:370px;
}
.main_caption h2{
	font-size: 42px;
	color:#fff;
        margin-top:0px !important;
}

#homepage-slider {
   min-height:76% !important;
   }
#cmn-video-demo4__video {
display:none;
  position: inherit;
  top: 0;
  left: 0;
  z-index: -100;
  min-width: 100%; min-height: 100%;
  padding-top:62px;
  width: auto;
  height: auto;
}
.vid_replace {
   position: inherit;
  top: 0;
  left: 0;
  z-index: 100;
  min-width: 100%; min-height: 100%;
  background: url(http://www.mobilefringe.com/wp-content/uploads/2014/11/vidback_computers.png) no-repeat;
  padding-top:0px;
  width: auto;
  height: auto;
}
}
@media screen and (min-width: 1075px) {

.main_caption {
        display:none;
	width:auto !important;
        max-width:800px;
	height: auto !important;
	position: absolute !important;/
	float:right;
	padding: 50px;
	margin:0% 5% 5% 0;
	background: rgba(0,0,0,0.5);
	font-size: 22px;
        line-height: 25px;
	color: #fff;
	text-align: right;
	right:0;
	top:450px;
}
.main_caption h2{
	font-size: 42px;
	color:#fff;
        margin-top:0px !important;
}
#homepage-slider {
   min-height:76% !important;
   }
#cmn-video-demo4__video {
display:none;
  position: inherit;
  top: 0;
  left: 0;
  z-index: -100;
  min-width: 100%; min-height: 100%;
  padding-top:62px;
  width: auto;
  height: auto;
}
.vid_replace {
   position: inherit;
  top: 0;
  left: 0;
  z-index: 100;
  min-width: 100%; min-height: 100%;
  background: url(http://www.mobilefringe.com/wp-content/uploads/2014/11/vidback_computers.png) no-repeat;
  padding-top:0px;
  width: auto;
  height: auto;
}
}
@media screen and (min-width: 1275px) {
.main_caption {
        display: block;
	width:auto !important;
        max-width:800px;
	height: auto !important;
	position: absolute !important;
	float:right;
	padding: 50px;
	margin:0% 5% 5% 0;
	background: rgba(0,0,0,0.5);
	font-size: 22px;
        line-height: 25px;
	color: #fff;
	text-align: right;
	right:0;
	top:440px;
}
.main_caption h2{
	font-size: 42px;
	color:#fff;
        margin-top:0px !important;
}
.main_caption .fade-in {
        zoom: 0;
        animation: fadeit 1s ease-out forwards;
        animation-iteration-count: 1;
        -webkit-animation: fadeit 1s;
        -webkit-animation-iteration-count: 1;
        -moz-animation: fadeit 1s;
        -moz-animation-iteration-count: 1;
        -ms-animation: fadeit 1s;
        -ms-animation-iteration-count: 1;
}
.vid_replace {
   display:none;
}
#cmn-video-demo4__video {
  display: block;
  position: inherit;
  top: 0;
  left: 0;
  z-index: 100;
  min-width: 100%; min-height: 100%;
  background: url(http://www.mobilefringe.com/wp-content/uploads/2014/11/vidback_computers.png) no-repeat;
  padding-top:0px;
  width: auto;
  height: auto;
}
}